<%- include('../_layouts/adminheader')  %> 
<h2 class="page-title">Add a page</h2>
<a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
<br><br>

<form method="post" action="/admin/pages/add-page">
<div class="form-group">
    <label for="">Titiel</label>
    <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="title"/>
</div>

<div class="form-group">
    <label for="">Slug</label>
    <input type="text" class="form-control" name="slug" value="<%= slug %>" placeholder="slug"/>
</div>

<div class="form-group">
    <label for="">Content</label>
    <textarea  class="form-control" name="content" cols="30" rows="10" placeholder="content">
        <%= title %>
    </textarea>
</div>

<button class="btn btn-default">Submit</button>

</form>
<%- include('../_layouts/adminfooter')  %> 